
.header{
    grid-area: h;
    background-color: green;
  }
  * {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
  }
  .wrapper {
    display: flex;
    flex-direction: center;
    min-height: 100%;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex: 0 0 auto;
  }
  
